@import "src/sass/util/variables";

.sprint {
  height: 100vh;
  margin: auto 0 0;
  width: 100%;
  background: url("./../assets/svg/plant1.svg") no-repeat left 27rem bottom 15rem, url("./../assets/svg/plant2.svg") no-repeat right 27rem bottom 15rem, linear-gradient(180deg, rgba(67, 210, 108, 0.61) 0%, #FFFFFF 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: auto 40rem, auto 40rem, auto auto;
}

@media screen and (max-width: 1280px) {
  .sprint {
    background: url("./../assets/svg/plant1.svg") no-repeat left 10rem bottom 10rem, url("./../assets/svg/plant2.svg") no-repeat right 10rem bottom 10rem, linear-gradient(180deg, rgba(67, 210, 108, 0.61) 0%, #FFFFFF 100%);
    background-size: auto 34rem, auto 34rem, auto auto;
  }
}

@media screen and (max-width: 390px) {
  .sprint {
    background: linear-gradient(180deg, rgba(67, 210, 108, 0.61) 0%, #FFFFFF 100%);
    background-size: auto auto;
  }
}
