.arrow-button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 1px solid black;
  text-align: center;
  font-size: 3rem;
  line-height: 3rem;
  box-sizing: border-box;
  padding: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  &--backward:hover {
    transform: scale(1.05) translateX(-10%);
  }

  &--forward:hover {
    transform: scale(1.05) translateX(10%);
  }
}