.results-buttons {
  display: flex;
  gap: 10rem;
  margin-top: auto;

  &__again, &__workbook {
    width: 36rem;
    height: 9rem;
    border-radius: 2.5rem;
    border: 1px solid black;
    text-align: center;
    font-size: 3.6rem;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 5px 5px 5px #999;
    &:hover, &:active, &:focus {
      box-shadow: 2px 2px 2px #444;
    }
  }
}
