@import "../../sass/util/variables";

.sprint-game {
  font-size: 2.4rem;
  width: 80rem;
  margin: 0 auto;
  border-radius: $sprintGameBorderRadius;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.61) 0%, rgba(255, 255, 255, 0.61) 0.01%, rgba(255, 255, 255, 0.61) 100%);
  box-shadow: 1px 2px 4px rgba(38, 120, 61, 0.34);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: $sprintGamePadding 0;
  justify-content: center;
  align-items: center;


  &__foreign {
    font-size: 3rem;
    font-weight: bold;
  }

  &__separation {
    width: 100%;
    position: relative;
  }

  &__sign {
    width: 3rem;
    height: 3rem;
    background-size: 3rem 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__sign-right {
    background-image: url("../../assets/svg/right.svg");
  }

  &__sign-wrong {
    background-image: url("../../assets/svg/wrong.svg");
  }
}