@import "../../sass/util/variables";

.sprint-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  &__clock {
    width: 16rem;
    height: 16rem;
    background-image: url("../../assets/svg/clock.svg");
    background-size: 16rem 16rem;
  }

  &__header {
    font-size: 14.4rem;
    line-height: 1.1719;
  }

  &__description, &__tooltip, &__button, &__start {
    font-size: 3.6rem;
    line-height: 1.1719;
    text-align: center;
  }

  &__select-level {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem
  }

  &__buttons {
    display: flex;
    gap: 1rem;
  }

  &__button {
    width: 8rem;
    height: 8rem;
    text-align: center;
    border-radius: 50%;
    background-color: $sprintMainColor;
    box-shadow: 5px 5px 5px $sprintMainColorShadow;

    &:hover, &:active, &:focus {
      box-shadow: 2px 2px 2px $sprintMainColorShadow;
      transform: scale(0.9);
    }
  }

  &__start {
    width: 20rem;
    height: 8rem;
    border-radius: 2rem;
    background-color: transparent;
    border: 1px solid black;
    box-shadow: 5px 5px 5px #999;

    &:hover, &:active, &:focus {
      box-shadow: 2px 2px 2px #444;
    }
  }

  &__button, &__start {
    cursor: pointer;
  }
}

.hide {
  visibility: hidden;
}
