@import '../../sass/util/variables';
.main-box {
  &__section {
    &_type_statistics {
      overflow: hidden;
      width: 100%;
      padding: 0 9vw;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 4vmax;
    }
  }
}

.statistics {
  &__navigation_box {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
  }
  &__navigation_link {
    position: relative;
    width: 47%;
    text-align: center;
    font-size: 2.5vmax;
    transition: all 0.3s;

    &:hover {
      cursor: pointer;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        border-bottom: 2px solid $color-prime-candy;
        box-shadow: 2px 2px 2px $color-prime-candy-light;
      }
    }
  }
  &__content_box {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .main-box {
    &__section {
      &_type_statistics {
        padding: 0 7vw;
        align-self: flex-end !important;
        margin-bottom: 6vmax;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .main-box {
    &__section {
      &_type_statistics {
        padding: 0 5vw;
        margin-bottom: 2vmax;
      }
    }
  }
  .statistics {
    &__navigation_link {
      font-size: 2.3vmax;
    }
  }
}
