.pagination {
  display: flex;
  gap: 1rem;

  &__page {
    position: relative;
    width: 4rem;
    height: 4rem;
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
    cursor: pointer;

    &--active {
      background: #CD8EFF;
      box-shadow: 1px 2px 4px #8759AB;
      border-radius: 50%;
      color: white;
    }
  }
}

.conceal {
  display: none;
}

.ellipsis-right {
  margin-right: 5rem;
}

.ellipsis-left {
  margin-left: 5rem;
}

.ellipsis-right::after, .ellipsis-left::before {
    position: absolute;
    content: "...";
    width: 4rem;
    height: 4rem;
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
}

.ellipsis-right::after {
  left: 5rem;
}

.ellipsis-left::before {
  right: 5rem;
}
