@mixin nav-link() {
  color: $color-prime-dark;
  transition: all 0.15s;
  &:hover {
    cursor: pointer;
    background-color: $color-prime-calm-0;
    filter: contrast(130%);
  }
}

@mixin buttonize() {
  background-color: $color-prime-candy;
  font-size: 2rem;
  color: $color-prime-light;
  padding: 2rem 7rem;
  border-radius: 1rem;
  box-shadow: 0 0 1.5rem darken($color-prime-candy, 10%);
  transition: all 0.2s;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0.3rem darken($color-prime-candy, 10%);
  }
}
