@mixin nav-link() {
  color: $color-prime-dark;
  transition: all 0.15s;
  &:hover {
    cursor: pointer;
    background-color: $color-prime-calm;
    filter: contrast(130%);
  }
}

@mixin buttonize($padTop: 2rem, $padSide: 7rem) {
  background-color: $color-prime-candy;
  color: $color-prime-light;
  padding: $padTop $padSide;
  border-radius: 1rem;
  box-shadow: 0 0 1.5rem darken($color-prime-candy, 10%);
  transition: all 0.2s;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0.3rem darken($color-prime-candy, 10%);
  }
}
