$color-prime-light: #fff;
$color-prime-light-calm: #C1DEE2;
$color-prime-dark: #212121;
$color-prime-calm: #43D26C;
$color-prime-calm-1: #07689f;
$color-prime-candy-0: #ff2e63;
$color-prime-candy: #CD8EFF;
$color-prime-candy-light: #EDD7FF;
