:root {
  --timerRadius: 50;
  --timerBorderThickness: 8;
}
$timerRadius: 50px;
$timerBorderThickness: 8px;

$levelUpSize: 80px;
$badgeSize: 30px;

$sprintMainColor: #43D26C;
$sprintGamePadding: 30px;
$sprintGameBorderRadius: 35px;
$sprintWrongColor: #FF4F4F;
$sprintRightColor: #43D26C;
