@import '../../../sass/util/mixins';
@import '../../../sass/util/variables';

.section-auth {
  width: 100%;

  &__input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 43%;
    font-size: 1.7rem;
  }

  &__label {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__input {
    max-width: 40rem;
    width: 100%;
    padding: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    border: 0.1rem solid $color-prime-candy;
    border-radius: 1.5rem;
    font-size: 1.8rem;
    text-align: center;
    &:focus {
      outline: 0.1rem solid $color-prime-candy;
    }
  }
  &__image-box {
    max-height: 70vh;
    max-width: 50vw;
  }
  &__image {
    max-height: 70vh;
    max-width: 50vw;
  }

  &__btn-send {
    font-size: 2rem;
    margin-top: 4rem;
    max-width: 40rem;
    width: 70%;
    @include buttonize;
  }
}


.input_error {
  color: $color-prime-attract;
}

.input_clear {
  color: $color-prime-calm;
}
