@import "src/sass/util/functions";
@import "src/sass/util/variables";

.sprint-game-display {
  margin: px-to-rem(-$sprintGamePadding) 0;
  padding: px-to-rem($sprintGamePadding);
  border-radius: px-to-rem($sprintGameBorderRadius) px-to-rem($sprintGameBorderRadius) 0 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sprint-game-display__level-img {
  display: block;
  width: $levelUpSize;
  height: $levelUpSize;
}

.sprint-game-display__central {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: px-to-rem(10px)
}

.sprint-game-display__score, .sprint-game-display__score-info {
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.sprint-game-display__level {
  display: flex;
}

.sprint-game-display__score {
  width: px-to-rem(2.5 * $timerRadius);
}

.sprint-game-display__timer {
  position: relative;
  width: $timerRadius * 2.5;
  height: $timerRadius * 2.5;
  border-radius: 50%;
  box-sizing: border-box;
}

