@import "../../../../sass/util/functions";
@import "../../../../sass/util/variables";

.timer__value {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: $timerRadius / 2;
}
