@import '../../../sass/util/mixins';
@import '../../../sass/util/variables';

.main {
  &__box {
    background-color: $color-prime-light;
    color: $color-prime-dark;
    display: flex;
    justify-content: center;
    height: 100%;
  }

  &-box {
    &__section {
      display: flex;
    }
  }

  &__home-navigation {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    border-radius: 0 0 0 2rem;
    align-items: center;
    text-align: center;
    background-color: $color-prime-light-calm;
    overflow: hidden;
    z-index: 2;
  }
}

.home-navigation {
  &__list {
    display: flex;
  }
  &__link {
    @include nav-link;
    padding: 1.3rem 2.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
    &_state_active {
      background-color: $color-prime-calm;
    }
  }
  &__icon {
    height: 3rem;
    width: 3rem;
    &_features {
      height: 4rem;
      width: 4rem;
    }
  }
}
