@import '../util/variables';

footer {
  background-color: $color-prime-candy-light;
  height: 9rem;
  display: flex;
  align-items: center;
  padding: 0 9vw;
}

.footer {
  &__box {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    width: 100%;
  }
  &-box {
    &__list {
      width: 100%;
      display: flex;
      color: $color-prime-dark;
      justify-content: space-between;
    }

    &__item {
      display: flex;
      align-items: center;

      &_course {
        transition: all 0.2s;
        .rs-icon {
          fill: $color-prime-dark;
          max-width: 16rem;
          max-height: 6rem;
        }
        &:hover {
          color: $color-prime-calm;
          .rs-icon {
            fill: $color-prime-calm;
          }
        }
      }

      &_copy {
        font-weight: bolder;
      }

      &_git {
        transition: all 0.2s;
        .git-icon {
          max-height: 6rem;
          max-width: 6rem;
          fill: $color-prime-dark;
        }
        &:hover {
          .git-icon {
            fill: $color-prime-calm;
          }
        }
      }
    }

    &__link {
      display: flex;
      align-items: center;
    }

    &__info-author-wrapper {
      display: flex;
      align-items: center;
      .footer-box__link {
        padding:1rem 2rem;
        margin: 0 1rem;
        transition: all 0.2s;
        &:hover {
          color: $color-prime-calm;
        }
      }
    }
  }
}
