.header {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  padding: 6vh 0 0 9vw;
  justify-content: flex-start;
  font-size: 3rem;


  &__nav {
    color: $color-prime-dark;
    display: flex;
    justify-content: space-between;
  }
  &__nav-list {
    display: flex;
    align-items: center;
  }
}

.nav-list {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    padding: 0 2rem;
    border-bottom: 1px solid $color-prime-candy;

    &:last-of-type {
      margin-right: 0;
    }
    transition: all 0.2s;
    &:hover {
      cursor: pointer;
      background-color: $color-prime-candy;
    }

    &_state_active {
      border-left: 1px solid $color-prime-candy;
      border-top: 1px solid $color-prime-candy;
      border-right: 1px solid $color-prime-candy;
      border-bottom: none;
    }
  }
  &__burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.burger-menu {
  &__item {
    font-weight: bold;
    line-height: 0;
    &:nth-of-type(2) {
      padding: 0.8rem 0;
    }
  }
}
