@import '../../../sass/util/mixins';
@import '../../../sass/util/variables';

.main-box__section {
  &_type_features {
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding-left: 9vw;
    padding-bottom: 5vmax;
    font-size: calc((2vmin + 2vmax) / 2);
  }
}

.section-features {
  &__box {
    width: 20vw;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: 0.1rem solid $color-prime-dark;
    margin-right: 3rem;
    font-size: calc((1.5vmin + 1.5vmax) / 2);

    &:last-of-type {
      margin-right: 0;
    }
  }
  &__about-box {
    width: 60vw;
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3vh;
  }
  &__container {
    display: flex;

    &_text {
      width: 60vw;
      display: flex;
      justify-content: flex-start;
      margin-right: 7vw;
    }

    &_image {
      max-width: 15vw;
      max-height: 70vh;
    }
  }
  &__header {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.about-box {
  &__header {
    width: 100%;
    font-size: calc((3.3vmin + 3.3vmax) / 2);
    text-align: left;
    margin-bottom: 3vh;
  }
}
