@import '../../../sass/util/mixins';
@import '../../../sass/util/variables';

.main-box__section {
  &_type_features {
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding-left: 9vw;
    padding-bottom: 7vmax;
    font-size: calc((1.6vmin + 1.6vmax) / 2);
  }
}

.section-features {
  &__box {
    width: 20vw;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: 0.1rem solid $color-prime-dark;
    margin-right: 2rem;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__about-box {
    width: 90rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__container {
    width: 60vw;
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
  }
  &__header {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.about-box {
  &__header {
    width: 100%;
    text-align: left;
    font-size: 4rem;
  }
}
