@import "src/sass/util/variables";
@import "src/sass/util/functions";

footer {
  display: none;
}

.sprint {
  height: 90vh;
  background: linear-gradient(180deg, rgba(67, 210, 108, 0.61) 0%, #FFFFFF 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
