@import "../../../../sass/util/variables";

.sprint {
  height: 90vh; // TODO subtract header and footer
  width: 100%;
  background: url("../assets/svg/plant1.svg") no-repeat left 3rem bottom 3rem, url("../assets/svg/plant2.svg") no-repeat right 3rem bottom 3rem, linear-gradient(180deg, rgba(67, 210, 108, 0.61) 0%, #FFFFFF 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: auto 40rem, auto 40rem, auto auto;
}
