@import "src/sass/util/variables";

.sprint {
  height: 100vh;
  background: url("../assets/sprint/bg.jpg") center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: flex-end;
  padding-bottom: 50px;
  position: relative;
}

.sprint__score {
  position: absolute;
  left: 0;
  top: -($scoreFontSize + 10px);
  font-size: $scoreFontSize;
}

.badges {
  display: flex;
  gap: 10px;
  height: $badge-size * 2;
  align-items: center;
}

.badge {
  width: $badge-size;
  height: $badge-size;
  background-color: #999;
  border-radius: 50%;
  border: black solid 2px;
  background-size: $badge-size $badge-size;
  background-position: center;
  &--active {
    background-color: white;
    background-image: url("../assets/svg/right.svg")
  }
  &--super {
    width: $badge-size * 2;
    height: $badge-size * 2;
    border: none;
    background-color: transparent;
    background-image: url("../assets/svg/cup.svg");
    background-size: $badge-size * 2 $badge-size * 2;
  }
}

.modal {
  font-size: 24px;
  width: 576px;
  margin: 0 auto;
  border: solid $modalBorderThickness lightgreen;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.modal__header {
  width: 100%;
}

.header__floor {
  display: flex;
  height: 120px;
  align-self: stretch;
}

.header__roof {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px 10px 0 0;
  margin: -$modalBorderThickness;
  background-image: repeating-linear-gradient(-90deg, transparent, transparent 4px, #333 7px, transparent 9px, transparent 14px);
  &::after {
    background: linear-gradient(-25deg, #ffffff 5px, transparent 0), linear-gradient(25deg, #ffffff 5px, transparent 0);
    background-size: 10px 10px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
  }
}

.header__basement {
  align-items: flex-end;
  width: $animalSize * 4;
  margin: 0 auto;
  position: relative;
  &::after{
    height: 5px;
    width: 100%;
    content: "";
    background: linear-gradient(sandybrown, saddlebrown);
    display: block;
    position: absolute;
    bottom: -5px;
  }
}

.header__animal {
  display: block;
  width: $animalSize;
  height: $animalSize;
}

.header__score {
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.modal__footer {
  padding: 0 50px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.modal__foreign {
  font-size: 30px;
}

.modal__separation {
  width: 100%;
  border-bottom: 1px black dotted;
  position: relative;
}

.modal__buttons {
  display: flex;
  gap: 20px;
}

.modal__button {
  font-size: 20px;
  color: white;
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 5px;
}

.modal__wrong {
  width: 125px;
  background-color: #ec3131;
}

.modal__right {
  width: 125px;
  background-color: #3fa13f;
}

.sprint__timer {
  position: absolute;
  right: -($timerRadius * 2 + 20px);
  width: $timerRadius * 2 - 10px;
  height: $timerRadius * 2 - 10px;
  top: 0;
  background-color: #999999;
  border-radius: 50%;
  box-sizing: border-box;
}

.timer__display {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: $timerRadius / 2;
}

.timer__circle {
  transform: translate(-50%, -50%) rotate(-90deg);
  position: absolute;
  width: $timerRadius * 2;
  height: $timerRadius * 2;
  left: 50%;
  top: 50%;
  circle {
    transition: all 1s linear;
  }
}

.sprint__info {
  display: flex;
  gap: 50px;
  margin: 0 auto;
}

.info__button {
  width: 50px;
  height: 50px;
  background-size: cover;
}

.info__left {
  background-image: url("../assets/sprint/left-button.png");
}

.info__right {
  background-image: url("../assets/sprint/right-button.png");
}

.modal__sign {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
}

.modal__sign-right {
  background-image: url("../assets/svg/right.svg");
}

.modal__sign-wrong {
  background-image: url("../assets/svg/wrong.svg");
}