@import '../../sass/util/mixins';
@import '../../sass/util/variables';

.main-box {
  &__burger {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;

    margin-left: -30vw;
    height: 100vh;
    width: 15vw;

    display: flex;
    justify-content: center;
    background-color: $color-prime-candy;
    color: $color-prime-light;
    font-size: 2.6rem;
    font-family: 'Roboto';
    font-weight: 500;
    transition: all 0.3s;

    &_state_show {
      margin-left: 0;
    }

    &_blur {
      position: fixed;
      top: 0;
      left: 0;

      margin-left: -100vmax;
      width: 100vw;
      height: 100vh;

      background-color: $color-prime-dark;
      opacity: 0.85;

      transition: all 0.3s;
    }
    &_blur_show {
      margin-left: 15vw;
    }
  }
}

.burger {
  &__list {
    position: relative;
    z-index: 100;

    padding-top: 15vh;
    width: 100%;
  }
  &__item_icon {
    max-height: 3rem;
    max-width: 3rem;
    margin-right: 1rem;
    fill: $color-prime-light;
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 2rem 0 2rem 15%;
    user-select: none;
    transition: all 0.2s;
    &:hover {
      cursor: pointer;
      background-color: $color-prime-dark;
    }
  }

  &__hide-icon {
    position: absolute;
    top: 5%;
    right: 10%;
    max-height: 4rem;
    max-width: 4rem;
    fill: $color-prime-light;
    transition: all 0.2s;
    pointer-events: all;
    &:hover {
      fill: $color-prime-dark;
    }
  }
}

.burger-games {
  position: relative;
  z-index: 100;

  display: flex;
  align-items: center;
  position: relative;

  &__link-box {
    display: flex;
    align-items: center;
  }
  &__games-box {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(-25%);
    border-radius: 0.5rem;
    border: 1px solid $color-prime-dark;
    margin-left: 30%;
    user-select: none;
    pointer-events: none;
    transition: all 0.3s;
    z-index: -10;

    &_state_active {
      opacity: 1;
      pointer-events: all;
      margin-left: 88%;
      background-color: $color-prime-candy;
      z-index: 1;
    }
  }

  &__item {
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    user-select: none;
    transition: all 0.2s;
    pointer-events: all;

    &:hover {
      cursor: pointer;
      background-color: $color-prime-dark;
    }
  }
}
